:root {
    --primary-color: #2D3047;
    --secondary-color: #759AAB;
    --tertiary-color: #FFDBB5;
    --quaternary-color: #E0A458;
}

body {
    background-color: var(--secondary-color);
}

nav {
    background-color: var(--primary-color) ;
    color: var(--tertiary-color);
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 9999;
}

.search {
    font-weight: lighter;
}

button {
    font-weight: lighter;
    text-decoration: none;
    border-radius: 15px;
    background-color: var(--quaternary-color);
}

.cityselection {
    margin-bottom: 25px;
}

.purple {
    background-color: purple;
    max-width: 25%;
    color:white;
}

.red {
    background-color: red;
    max-width: 25%;
    color:white;
}

.orange {
    background-color: orange;
    max-width: 25%;
    color:white;
}

.yellow {
    background-color: yellow;
    max-width: 25%;
    color:white;
}

.green {
    background-color: green;
    max-width: 25%;
    color:white;
}

.forcast {
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 9999;
}

.futureforcast {
    margin: 0;
    padding: 0;
}

.totalsearch {
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 9999;
}

.card {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 9999;
}

.searchcard {
    border: none;
}


.previoussearchbody {
    list-style: none;
    background-color: var(--secondary-color);
}

.btn-block {
    padding: auto;
    margin: auto;
}